<% content_for :panel_title do %>
    <span class="glyphicon glyphicon-user"></span> Actors
<% end %>

<% content_for :paginator do %>
    <%= render 'layouts/paginator', items: @actors %>
<% end%>

<% content_for :browse_content do %>
    <div class="list-group">
      <% if @actors.empty? %>
          <ul class="list-group-item"><h4><em>No actors to display</em></h4></ul>
      <% else %>
          <% @actors.each do |actor| %>
              <%= link_to actor, class: 'list-group-item' do %>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="media-left">
                        <%= image_tag 'default_person.png', class: 'media-object img-circle', height: 128 %>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading text-primary text-capitalize"><%= "#{actor.first} #{actor.last}" %></h3>
                        <strong>Born: </strong> <%= pretty_print_date(actor.dob) %>
                        <% if !actor.dod.nil? %>
                        </br>
                        <strong>Died: </strong> <%= pretty_print_date(actor.dod) %>
                        <% end %>
                        </br>
                        <strong>Sex: </strong> <%= actor.sex %>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
<% end %>