<% content_for :panel_title do %>
    <span class="glyphicon glyphicon-film"></span> Movies
<% end %>

<% content_for :paginator do %>
    <%= render 'layouts/paginator', items: @movies %>
<% end%>

<% content_for :browse_content do %>
    <div class="list-group">
      <% if @movies.empty? %>
          <ul class="list-group-item"><h4><em>No movies to display</em></h4></ul>
      <% else %>
          <% @movies.each do |movie| %>
              <%= link_to movie, class: 'list-group-item' do %>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="media-left">
                        <%= image_tag 'default_movie.png', height: 128, class: '' %>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading text-primary text-capitalize"><%= movie.cleaned_title %></h3>
                        <strong>Rating:</strong>
                        <%= mpaa_rating_icon(movie.mpaa_rating_id, height=14) %>
                        </br>
                        <strong>Company:</strong> <%= list_companies movie.companies %>
                        </br>
                        <strong>Year:</strong> <%= movie.year %>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
<% end %>