<% content_for :paginated_content do %>
<div class="list-group">
  <% @movies.each do |movie| %>
      <a class="list-group-item" href='#'>
        <div class="row">
          <div class="col-lg-12">
            <div class="media-left">
              <%= image_tag 'default_movie.png', height: 128, class: '' %>
            </div>
            <div class="media-body">
              <!-- remember to clean the below title -->
              <h3 class="media-heading text-primary text-capitalize"><%= movie.title %></h3>
              <strong>Rating:</strong>
              <%# if movie.rating=='G' %>
              <% if movie.rating == 'G' %>
                  <%= image_tag 'mpaa-icon_g.svg.png', height: 14 %>
              <% elsif movie.rating == 'PG' %>
                  <%= image_tag 'mpaa-icon_pg.svg.png', height: 14 %>
              <% elsif movie.rating == 'PG-13' %>
                  <%= image_tag 'mpaa-icon_pg-13.svg.png', height: 14 %>
              <% elsif movie.rating == 'R' %>
                  <%= image_tag 'mpaa-icon_r.svg.png', height: 14 %>
              <% elsif movie.rating == 'NC-17' %>
                  <%= image_tag 'mpaa-icon_nc-17.svg.png', height: 14 %>
              <% elsif movie.rating == 'surrendered' %>
                  <h4>Rating surrendered</h4>
              <% end %>
              </br>
              <strong>Company:</strong> <%= movie.company %>
              </br>
              <strong>Year:</strong> <%= movie.year %>
            </div>
          </div>
        </div>
      </a>
  <% end %>
</div>
<% end %>