<% content_for :show_heading do %>
    <%= @movie.cleaned_title %>
<% end %>

<% content_for :show_content do %>
    <div class="list-group">
      <!--Movie Details -->
      <div class="list-group-item">
        <div class="media">
          <div class="media-left media-top">
            <%= image_tag 'default_movie.png', class: 'media_object' %>
          </div>
          <div class="media-body">
            <Table class="table table-condensed no-border" border="0">
              <tr>
                <td><h4><strong>Year</strong></h4></td>
                <td><h4><%= @movie.year %></h4></td>
              </tr>
              <tr>
                <td><h4><strong>Company</strong></h4></td>
                <td><h4><%= @movie.company %></h4></td>
              </tr>
              <tr>
                <td><h4><strong>MPAA Rating</strong></h4></td>
                <td><h4><%= mpaa_rating_icon(@movie.rating, height=20) %></h4></td>
              </tr>
              <tr>
                <td><h4><strong>Avg. User Rating</strong></h4></td>
                <td>
                  <input
                  type="number"
                  class="rating form-control hide"
                  data-size="xs"
                  data-show-clear="false"
                  data-readonly="true"
                  value="<%= @avg_rating %>">
                </td>
              </tr>
              <tr>
                <td><h4><strong>Genres</strong></h4></td>
                <td>
                  <h4><%= list_movie_genres @genres %></h4>
                </td>
              </tr>
            </Table>
          </div>
        </div>
      </div>

      <!--Directors-->
      <div class="list-group-item">
        <h3 class="list-group-item-heading text-capitalize">Directors</h3>
        <% if @directors.empty? %>
            <h4 class="text-muted"><em>No directors to display</em></h4>
        <% else %>
            <table class="table table-condensed table-striped no-border">
              <% @directors.each do |director| %>
                  <tr>
                    <td>
                      <%= link_to director, class: 'text-primary text-capitalize' do %>
                          <%= image_tag 'default_person.png', width: 24, class: 'img-circle' %>
                          <%= "#{director.first} #{director.last}" %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>

      <!--Actors-->
      <div class="list-group-item">
        <h3 class="list-group-item-heading text-capitalize">Cast</h3>
        <% if @movie_actors.empty? %>
            <h4 class="text-muted"><em>No cast to display</em></h4>
        <% else %>
            <table class="table table-condensed table-striped no-border">
              <th class="text-info">Actor</th>
              <th class="text-info">Role</th>
              <% @movie_actors.each do |actor| %>
                  <tr>
                    <td>
                      <%= link_to actor, class: 'text-primary text-capitalize' do %>
                          <%= image_tag 'default_person.png', height: 24, class: 'img-circle' %>
                          <%= "#{actor.first} #{actor.last}" %>
                      <% end %>
                    </td>
                    <td>
                      <%= actor.role %>
                    </td>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>

      <!--Reviews-->
      <div class="list-group-item">
        <h3 class="list-group-item-heading text-capitalize">Reviews</h3>
        <% if @reviews.empty? %>
            <h4 class="text-muted"><em>No Reviews To display</em></h4>

            <div class="row" align="center">
              <div class="col-lg-12">
                <%= link_to 'Write a review', new_movie_review_path(@movie), class: 'btn btn-success' %>
              </div>
            </div>
        <% else %>
            <%= render partial: 'layouts/review', collection: @reviews %>
            <div class="row" align="center">
              <div class="col-lg-12">
                <%= link_to 'View more', movie_reviews_path(@movie), class: 'btn btn-default' %>
                <%= link_to 'Write a review', new_movie_review_path(@movie), class: 'btn btn-success' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>