<% content_for :panel_title do %>
    <span class="glyphicon glyphicon-bullhorn"></span> Directors
<% end %>

<% content_for :paginator do %>
    <%= render 'layouts/paginator', items: @directors %>
<% end%>

<% content_for :browse_content do %>
    <div class="list-group">
      <% if @directors.empty? %>
          <ul class="list-group-item"><h4><em>No directors to display</em></h4></ul>
      <% else %>
          <% @directors.each do |director| %>
              <%= link_to director, class: 'list-group-item' do %>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="media-left">
                        <%= image_tag 'default_person.png', class: 'media-object img-circle', height: 128 %>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading text-primary text-capitalize"><%= "#{director.first} #{director.last}" %></h3>
                        <strong>Born: </strong> <%= pretty_print_date(director.dob) %>
                        <% if !director.dod.nil? %>
                            </br>
                            <strong>Died: </strong> <%= pretty_print_date(director.dod) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
<% end %>