<% content_for :show_heading do %>
    <%= "#{@director.first} #{@director.last}" %>
<% end %>

<% content_for :show_content do %>
    <div class="list-group">
      <!--Director Details -->
      <div class="list-group-item">
        <div class="media">
          <div class="media-left media-top">
            <%= image_tag 'default_person.png', class: 'media_object img-circle' %>
          </div>
          <div class="media-body">
            <Table class="table table-condensed no-border" border="0">
              <tr>
                <td><h4><strong>Born</strong></h4></td>
                <td><h4><%= pretty_print_date @director.dob %></h4></td>
              </tr>
              <% if !@director.dod.nil? %>
                  <tr>
                    <td><h4><strong>Died</strong></h4></td>
                    <td><h4><%= pretty_print_date @director.dod %></h4></td>
                  </tr>
              <% end %>
            </Table>
          </div>
        </div>
      </div>

      <!--Movies-->
      <div class="list-group-item">
        <h3 class="list-group-item-heading text-capitalize">Films Directed</h3>
        <% if @filmography.empty? %>
            <h4 class="text-muted"><em>No movies to display</em></h4>
        <% else %>
            <table class="table table-condensed table-striped no-border">
              <th class="text-info">Movie Title</th>
              <th class="text-info">Year</th>
              <% @filmography.each do |movie| %>
                  <tr>
                    <td>
                      <%= link_to movie, class: 'text-primary text-capitalize' do %>
                          <%= image_tag 'default_movie.png', height: 36 %>
                          <%= movie.cleaned_title %>
                      <% end %>
                    </td>
                    <td><%= movie.year %></td>
                  </tr>
              <% end %>
            </table>
        <% end %>
      </div>

    </div>
<% end %>